<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>키즈랜드 실내놀이터 신청확인/취소</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
          crossorigin="anonymous">

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <!-- Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"></script>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
            integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
            crossorigin="anonymous"></script>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
    </script>
</head>
<body class="container" style="max-width: 900px;display: block;padding: 0;">

<div style="width: 100%; text-align: center; font-size:0.8rem; background-color: #dfd3c3; color: dimgray;
        height: 6rem; align-items: center; justify-content: center; border-radius: 0px;">
    <br>
    <h3>키즈랜드 실내놀이터 신청확인/취소</h3>
    < 대전새중앙교회 1층 웰컴카페 옆 >
    <br>
</div>
<div style="margin: 0rem 0rem;">
    <button class="btn btn-outline-secondary" type="button" id="go-home"
            style="box-sizing: border-box; display: flex; justify-content: center;border-radius: 0px 0px 10px 10px;
            border-color: #d3d3d3; margin: 0 auto; width: 100%; background-color: #d3d3d3; text-align: center;">
        홈으로 돌아가기
    </button>
</div>
<script>
    $(document).ready(function () { // 버튼을 클릭했을 때 실행될 코드
        $('#go-home').click(function () {
            location.replace("/"); // 루트페이지 이동, 뒤로가기 못하게 브라우져 히스토리 남기지 않음
        });
    });
</script>


<div style="margin: 1rem 0rem;">
    <div style="display: flex; justify-content: space-between; margin: 0 auto; width: 90%;">
        <!-- 휴대폰 번호 입력 창 -->
        <input type="text" class="form-control" id="phoneInput" placeholder="휴대폰 번호(-제외)">
    </div>
</div>

<script>
    // 휴대폰 번호 입력 창 이벤트 처리
    document.getElementById('phoneInput').addEventListener('input', function () {
        // 입력된 값에서 숫자만 추출하여 다시 설정
        this.value = this.value.replace(/[^0-9]/g, '');

        // 11자리까지만 입력받도록 자르기
        this.value = this.value.slice(0, 11);
    });
</script>


<button class="btn btn-outline-secondary" type="button" id="button-addon1"
        style="box-sizing: border-box; display: flex; justify-content: center;
        margin: 0 auto; width: 90%; background-color: #f1f3f5; text-align: center;">인증번호 전송
</button>

<div id="verificationInput" style="display: none">
    <div style="margin: 1rem 0rem;">
        <div class="input-security-number"
             style="width: 90%; display: flex; justify-content: center; align-items: center; margin: 0 auto;">
            <input type="text" class="form-control" id="input_security_number" placeholder="인증 번호를 입력해주세요!"
                   aria-label="Recipient's username"
                   aria-describedby="button-addon2" style=" box-sizing: border-box;">
        </div>
    </div>
    <div style="margin: 1rem 0rem;">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                style="box-sizing: border-box; display: flex; justify-content: center;
        margin: 0 auto; width: 90%; background-color: #f1f3f5; text-align: center;">인증하기
        </button>
    </div>
</div>

<div id="reservationContainer" style="margin: 1rem 0rem;"></div>


<script>
    // 변수를 전역으로 선언하여 두 이벤트 핸들러에서 접근 가능하게 함
    let phone_number;
    let reservations; // 전역 변수로 예약 정보를 유지

    document.getElementById('input_security_number').addEventListener('input', function () {
        // 입력된 값에서 숫자만 추출하여 다시 설정
        this.value = this.value.replace(/[^0-9]/g, '');
        // 6자리까지만 입력받도록 자르기
        this.value = this.value.slice(0, 6);
    });

    // 페이지에 예약 정보를 표시하는 함수
    function displayReservations() {
        // 예약 정보를 표시할 컨테이너가 'reservationContainer'라 가정합니다
        var container = $('#reservationContainer');

        // 이전 내용을 모두 지우고
        container.empty();

        // 만약 반환된 데이터가 JSON 문자열이라면 파싱
        if (typeof reservations === 'string') {
            reservations = JSON.parse(reservations);
        }

        // 예약 정보를 순회하며 컨테이너에 추가합니다
        reservations.forEach(function (reservation) {
            container.append('<p>이름: ' + reservation.fields.child_name + '</p>');
            container.append('<p>예약날짜 및 시간 : ' + reservation.fields.reservation_date + reservation.fields.reservation_time + '</p>');

            // 삭제 버튼 추가
            container.append('<button class="btn btn-danger delete-button" data-reservation-id="' + reservation.pk + '">예약 삭제</button>');


            container.append('<hr>');
        });
        // 삭제 버튼에 대한 클릭 이벤트 핸들러 추가
        $('.delete-button').click(function () {
            var reservationId = $(this).data('reservation-id');
            deleteReservation(reservationId);
        });
    }

    // 예약 삭제를 위한 AJAX 함수
    function deleteReservation(reservationId) {
        $.ajax({
            url: "/user/delete_reservation/",
            data: {
                reservation_id: reservationId,
            },
            method: "POST",
            success: function (response) {
                // 삭제가 성공하면 예약 정보를 다시 로드
                alert("예약이 삭제되었습니다.");

                // 삭제된 예약 정보를 예약 목록에서 제거
                // 해당 예약을 찾아서 삭제
                var deletedIndex = reservations.findIndex(function (reservation) {
                    return reservation.pk === reservationId;
                });
                if (deletedIndex !== -1) {
                    reservations.splice(deletedIndex, 1);
                }

                displayReservations(response);
            },
            error: function (error) {
                console.error("Error:", error);
                alert("예약 삭제 중에 오류가 발생했습니다.");
            }
        });
    }

    $('#button-addon1').click(function () {
        phone_number = $('#phoneInput').val();

        if (!phone_number) {
            alert("입력되지 않은 정보가 있습니다. 모든 정보를 입력하세요.");
            return; // 필수 정보가 없으면 함수 종료
        }

        $.ajax({
            url: "/user/Phone_Verification/",
            data: {
                phone_number: phone_number,
            },
            method: "POST",
            success: function (response) {
                console.log("성공");
                alert("인증 번호를 보냈습니다");
                $('#verificationInput').show();
            },
            error: function (error) {
                console.error("Error:", error);
                alert("잘못된 번호입니다.")
            },
            complete: function () {
                console.log("완료");
            }
        });
    });

    $('#button-addon2').click(function () {
        let input_security_number = $('#input_security_number').val();

        // 데이터를 객체로 만들어서 백엔드로 전송
        $.ajax({
            url: "/user/check_security_number/",
            data: {
                input_security_number: input_security_number,
            },
            method: "POST",
            success: function (response) {
                // 백엔드에서의 인증 확인 결과에 따라 처리
                if (response.success) {
                    // 인증 성공
                    alert("인증 성공");

                    // 이후의 DB 예약 정보를 여기에
                    $.ajax({
                        url: "/user/Get_ReservationDB/",
                        data: {
                            phone_number: phone_number,
                            status: "예약 확인",
                        },
                        dataType: 'json',
                        method: "POST",
                        success: function (data) {
                            reservations = data; // 예약 정보를 전역 변수에 저장
                            displayReservations();
                        },
                        error: function (error) {
                            console.error("Error:", error);
                        },
                        complete: function () {
                            console.log("완료");
                        }
                    });
                } else {
                    // 인증 실패
                    alert("인증 실패");
                }
            },
            error: function (error) {
                console.error("Error:", error);
            }
        });
    });
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>
</html>